<section [formGroup]="form">
  <div class="header">
    <h4>Registered Mobile: {{ mobile }}</h4>
  </div>

  <h4 class="steps">Step 1: Select Users</h4>
  <div class="cards users-box" id="usersCard">
    <div *ngFor="let user of users; index as index" class="user-card">
      <p class="name">{{ user.name }}</p>
      <p class="name">Dose 1: {{ user.dose1_date }} <span *ngIf="user.vaccine !== ''">| {{ user.vaccine }}</span></p>
      <p class="name">Dose 2: {{ user.dose2_date }}</p>
      <input type="checkbox" class="form-check-input" [value]="user" id="user{{ index }}" (change)="onUserCheckChange(user, $event)">
    </div>
  </div>

  <h4 class="steps">Step 2: Decide your preferences</h4>
  <div class="center-pref">
    <div class="filters">
      <label class="form-control-label" for="pincode">Pincode</label>
      <input type="text" id="pincode" placeholder="Enter your preferred pincode." class="form-control"
        [formControl]="pinCode">

      <label class="form-control-label" for="dose">Dose Number</label>
      <select type="text" id="dose" placeholder="Dose number" class="form-control" [formControl]="dose">
        <option>1</option>
        <option>2</option>
      </select>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="age" id="18" value="18" [formControl]="ageLimit" checked>
        <label class="form-check-label" for="18">18+</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="age" id="45" value="45" [formControl]="ageLimit">
        <label class="form-check-label" for="45">45+</label>
      </div>

      <label class="form-control-label" for="date">Date</label>
      <input class="form-control" type="date" id="date" name="date" [formControl]="date">

      <label class="form-control-label" for="slot">Desired Slot Number</label>
      <select type="text" id="slot" placeholder="Slot number" class="form-control" [formControl]="slot">
        <option value="0">1: 9AM - 11AM</option>
        <option value="1">2: 11AM - 1PM</option>
        <option value="2">3: 1PM - 3PM</option>
        <option value="3">4: 3PM - 5PM</option>
      </select>

      <button mat-raised-button class="src-btn" color="primary" (click)="searchCenters()">Search Centers</button>
    </div>

    <div class="cards centers">
      <div *ngFor="let session of sessions; index as index" class="user-card">
        <p>{{ session.name }}</p>
        <p>{{ session.date }}</p>
        <p>Age: {{ session.min_age_limit }} | {{ session.vaccine }}</p>
        <p class="capacity" [ngClass]="{
          'booked': session.available_capacity == 0,
          'mid': session.available_capacity <= 10 && session.available_capacity > 0,
          'free': session.available_capacity > 10
        }">Capacity: {{ session.available_capacity }}</p>
        <p class="session-slots">{{ session.slots | json }}</p>
        <input class="form-check-input" type="radio" name="session" id="session{{index}}" (change)="onSessionSelection(session)" [checked]="selectedSession && selectedSession.session_id == session.session_id">
      </div>
      <div *ngIf="!sessions.length" class="user-card no-session">No Sessions</div>
    </div>
  </div>

  <h4 class="steps">Step 3: Start Tracker</h4>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="automateProcess()">Start Tracker</button>
    <button mat-raised-button (click)="stopProcess()">Stop Tracker</button>
  </div>

  <h4 *ngIf="result && hasCaptcha" class="steps">Step 4: Result</h4>
  <div class="captcha-box" [ngClass]="{ 'expand': hasCaptcha }">
    <div class="guide">
      <h5>Appointment Available</h5>
      <p>Please enter captcha and press Schedule.</p>
    </div>

    <div class="captcha" #captcha></div>
    <label class="form-control-label" for="captcha">Captcha</label>
    <input type="text" id="captcha" placeholder="Enter the captcha." class="form-control">
    <button mat-raised-button color="primary" (click)="submit()">Schedule</button>
  </div>

  <div class="result">
    <div>
      <div *ngIf="!result && isAutomating">
        <h5>Tracking in progress.. {{ trackCount }} </h5>
        <div class="loader"></div>
      </div>
      <h5 *ngIf="result">{{ result }}</h5>
      <button *ngIf="result" mat-raised-button color="primary" (click)="download()">Download Slip</button>
    </div>
  </div>
</section>
