@import "utils";

.nav-bar {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include if-wider-than('tablet') {
    flex-direction: row;
  }
}

.counter {
  margin-right: 10px;
  font-size: 14px;
}

.logout-btn {
  border: 1px solid #7b7b7b;
}
