<section>
  <form [formGroup]="form">

      <h3>Login with your Mobile</h3>
      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile Number</label>
        <input type="text" [formControl]="mobileFC" class="form-control" id="mobile"
          placeholder="Enter your mobile number." required>
      </div>
      <div class="mb-3">
        <button type="button" mat-raised-button (click)="processMobile()">Get OTP</button>
        <p *ngIf="otpSent" class="feedback">Sent</p>
        <p *ngIf="otpSent">Will expire in: {{ otpExpiry }} sec</p>
      </div>
      <h3>Please enter correct OTP</h3>
      <div class="mb-3">
        <label for="otp" class="form-label">OTP</label>
        <input type="text" [formControl]="otpFC" class="form-control" id="otp" placeholder="Enter your correct otp."
          required>
      </div>
      <div class="mb-3">
        <button type="button" (click)="processOTP()" mat-raised-button>Submit OTP</button>
        <p *ngIf="otpError" class="otp-invalid">Invalid OTP</p>
      </div>

  </form>
</section>
